@page
@model TheAgooProjectWeb.Pages.Admin.TermRegistration.EditModel
@{
    ViewData["Title"] = "Update Student Registration";
    int sn = 0;
}
<link href="~/lib/multipleselect/multiselect.css" rel="stylesheet" />
<link href="~/lib/sweetalert2/sweetalert2.min.css" rel="stylesheet" />
<div class="page-content">
    <div class="card">
        <div class="card-header">
            <div class="d-flex justify-content-between">
                <div class=" badge text-white bg-warning text-uppercase"><strong class="h5">@ViewData["Title"]</strong></div>
                <div><a class="btn btn-dark btn-sm" asp-page="Index"><i class="fa fa-arrow-left"></i>&ensp; Back</a></div>
            </div>
            <div class="mt-2">
                <div class="col-auto">
                    <div class="mt-3 row">
                        <div class="col-md-6"></div>
                        <div class="col-md-6">
                            @if (TempData["error"] != null)
                            {
                                <div class="alert alert-danger alert-dismissible fade show mt-2" role="alert">
                                    <button type="button" class="close" data-dismiss="alert" aria-label="Close">
                                        <span aria-hidden="true">&times;</span>
                                    </button>
                                    <strong><i class="fas fa-exclamation-triangle"></i> </strong> @TempData["error"].
                                </div>
                            }
                        </div>
                    </div>
                </div>
            </div>
        </div>
            <div class="card-body">
                <div class="row justify-content-center">
                    <div class="col-lg-5">
                        <div class="p-2">
                            <div class="alert alert-info"><h5 class="text-center">Edit Registration Information</h5></div>
                            <form class="form-horizontal" method="post" asp-page-handler="Register">
                                <div class="row">
                                    <div class="col-md-12">
                                        <div class="form-group mb-2">
                                            <label for="username">Full Name</label>
                                            <input class="form-control form-control-sm" readonly asp-for="input.Fullname" />
                                        </div>
                                        <div class="form-group mb-2">
                                            <label for="username">Student Registration Number</label>
                                            <input class="form-control form-control-sm" readonly asp-for="input.StudentReg" />
                                        </div>
                                        <div class="form-group mb-2">
                                            <label for="username">Term</label>
                                            <select asp-for="input.Term" class="form-control form-control-sm">
                                                <option value="" disabled selected>---Select Term---</option>
                                                <option value="First">First</option>
                                                <option value="Second">Second</option>
                                                <option value="Third">Third</option>
                                            </select>
                                        <span asp-validation-for="input.Term" class="text-danger"></span>
                                        </div>
                                        <div class="form-group mb-2">
                                            <label for="useremail">Session/Year</label>
                                        <select class="form-control form-control-sm" asp-for="input.Sessionyear" asp-items="Model.ViewSelectModel.SessionYearz">
                                                <option value="" disabled selected>---Select Session/Year---</option>
                                            </select>
                                        <span asp-validation-for="input.Sessionyear" class="text-danger"></span>
                                        </div>
                                        <div class="form-group mb-2">
                                            <label>Class</label>
                                        <select class="form-control form-control-sm " asp-for="input.Classes" asp-items="Model.ViewSelectModel.Class">
                                                <option value="" disabled selected>---Select Class---</option>
                                            </select>
                                        <span asp-validation-for="input.Classes" class="text-danger"></span>
                                        </div>
                                        <div class="form-group mb-2">
                                            <label>Sub-Class</label>
                                            <select asp-for="input.Subclass" class="form-control form-control-sm" asp-items="Model.ViewSelectModel.SubClass">
                                                <option value="" disabled selected>---Select Sub-Class---</option>
                                            </select>
                                        <span asp-validation-for="input.Subclass" class="text-danger"></span>
                                        </div>
                                        <div class="form-group mb-2">
                                            <label>Register Subjects</label>
                                            <select class="custom-select form-control-sm 2col active" multiple data-multi-select name="subjects[]" asp-items="Model.ViewSelectModel.Subjects">
                                            </select>
                                        </div>
                                        <div class="form-group mb-2">
                                        <table class="table table-sm table-bordered table-hover table-striped">
                                                <thead>
                                                    <tr>
                                                        <th>#</th>
                                                        <th>Subject</th>
                                                        <th>Action</th>
                                                    </tr>
                                                </thead>
                                                <tbody>
                                                @foreach (var item in Model.input.GetResults)
                                                {
                                                    sn++;
                                                    <tr>
                                                        <td>@sn</td>
                                                        <td>@item.Subjects.Name</td>
                                                        <td>
                                                            <button style="cursor:pointer" type="button" onclick="deleteSubject(this);" data-id="@item.Id" class="btn btn-sm btn-danger">
                                                                <i class="mdi mdi-trash-can-outline"></i>
                                                            </button>
                                                        </td>
                                                    </tr>
                                                }
                                                </tbody>
                                            </table>
                                        </div>
                                        <div class="mt-4">
                                            <button class="btn btn-success btn-block waves-effect waves-light" type="submit">Update</button>
                                        </div>
                                    </div>
                                </div>
                                <input type="hidden" asp-for="input.StudentId" />
                            </form>
                        </div>
                    </div>
                </div>
            </div>
    </div>
</div>
@section Scripts {
    <partial name="_ValidationScriptsPartial" />
    <script src="~/lib/sweetalert2/sweetalert2.min.js"></script>
    <script src="~/lib/multipleselect/multiselect.js"></script>
    <script src="~/lib/blockui/jquery.blockui.min.js"></script>
    <script src="~/js/termresult.js"></script>
}
