@page
@model TheAgooProjectWeb.Pages.Admin.System_User.UpsertModel
@{
    ViewData["Title"] = Model.canEdit > 0 ? "Update User Account" : "Add System User";
}
<div class="page-content">
    <div class="card">
        <div class="card-header">
            <div class="d-flex justify-content-between">
                <div class="badge  badge-info bg-info text-uppercase"><strong class="h5">@ViewData["Title"]</strong></div>
                <a class="btn btn-dark btn-sm" asp-page="Index"><i class="fa fa-arrow-left"></i>&ensp; Back</a>
            </div>
        </div>
        <div class="card-body">
            <h4 class="header-title">System User Details</h4>
            <form method="post">
                @if (Model.canEdit > 0)
                {
                    <div class="form-group row">
                        <label for="example-search-input" class="col-md-4 col-form-label">Username</label>
                        <div class="col-md-8">
                            <input class="form-control" asp-for="user.UserName" readonly disabled />
                        </div>
                        <input type="hidden" asp-for="user.Id" />
                        <input type="hidden" asp-for="canEdit" />
                    </div>
                }
                <div class="form-group row mt-3">
                    <label asp-for="user.Fullname" class="col-md-4 col-form-label">Full Name</label>
                    <div class="col-md-8">
                        <input class="form-control" asp-for="user.Fullname" required/>
                    </div>
                </div>
                <div class="form-group row">
                    <label asp-for="user.Position" class="col-md-4 col-form-label">Postion</label>
                    <div class="col-md-8">
                        <select class="custom-select" asp-for="user.Position" required>
                            <option disabled selected>**Select User Role**</option>
                            <option value="@(SD.Role_ExamOfficer)">@(SD.Role_ExamOfficer)</option>
                            <option value="@(SD.Role_Accountant)">@(SD.Role_Accountant)</option>
                        </select>
                    </div>
                </div>
                <div class="form-group row">
                    <div class="col-md-8 offset-md-4">
                        <button class="btn btn-primary" type="submit">
                            @(Model.canEdit > 0 ? "Update" : "Add user")
                        </button>
                    </div>
                </div>
            </form>
        </div>
    </div>
</div>
@section Scripts {
    <partial name="_ValidationScriptsPartial" />
}